$pgtime: "page-time";

.#{$pgtime} {
    color: $text;
    margin-top: 50px;

    &__title {
        font-size: 24px;
        line-height: 28px;
    }

    &__price {
        background: #fff;
        border-radius: 24px;
        border: 1px solid #e6e6e6;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-top: 25px;

        &:hover {
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
        }

        &-title {
            color: #ababab;
            display: block;
            font-size: 12px;
            line-height: 22px;
        }

        &-time {
            display: block;
            font-size: 16px;
            line-height: 28px;
        }

        &-price {
            display: block;
            font-size: 24px;
            margin-top: 15px;
        }
    }
}