.body-news {

    .home-slide__title {
        margin-bottom: -30px;
    }
}

.body-news-theme {


    .home-slide__title {
        margin-bottom: -30px;
    }
}

.news-list {

    &__btn {
        margin-top: -20px;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: 100px;
        text-align: center;
    }
}

