$pfx: "home-slide";

.#{$pfx} {
    &__wrap {
        @include md(padding, 30px);
        position: relative;
        min-height: 80px;
        padding: 75px;
        background-size: cover;
        background-position: 50%;
        background-image: url(../../../img/home-slide.png);
        border-radius: 25px;

        &.el__slide {
            position: relative;
            background-image: url("../img/el-slide.jpg");
        }
        &.noof__slide {
            background-image: url("../img/no-office-slide.jpg");
        }

        &-col {
            @include lg(width, 71%);
            width: 50%;
        }
    }

    &__title {
        @include md(font-size, 30px);
        font-size: 48px;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 20px;
        &.gray {
            color: $accent;
        }
    }

    &__desc {
        @include md(font-size, 16px);
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 60px;
        span {
            font-size: 40px;
        }
        &.small-desc {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
}
