<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>EDO</title>
    <meta name="theme-color" content="#fff"/>
    <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
    />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
            rel="shortcut icon"
            href="img/favicons/favicon.ico"
            type="image/x-icon"
    />
    <link
            rel="icon"
            sizes="16x16"
            href="img/favicons/favicon-16x16.png"
            type="image/png"
    />
    <link
            rel="icon"
            sizes="32x32"
            href="img/favicons/favicon-32x32.png"
            type="image/png"
    />
    <link
            rel="apple-touch-icon-precomposed"
            href="img/favicons/apple-touch-icon-precomposed.png"
    />
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png"/>
    <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="img/favicons/apple-touch-icon-57x57.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="img/favicons/apple-touch-icon-60x60.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="img/favicons/apple-touch-icon-72x72.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="img/favicons/apple-touch-icon-76x76.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="img/favicons/apple-touch-icon-114x114.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="img/favicons/apple-touch-icon-120x120.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="img/favicons/apple-touch-icon-144x144.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="img/favicons/apple-touch-icon-152x152.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="167x167"
            href="img/favicons/apple-touch-icon-167x167.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="img/favicons/apple-touch-icon-180x180.png"
    />
    <link
            rel="apple-touch-icon"
            sizes="1024x1024"
            href="img/favicons/apple-touch-icon-1024x1024.png"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/main.css"/>
</head>
<body class="body-edo">
@@include("../blocks/modules/header/header.html")

<section class="home-slide">
    <div class="container">
        <div class="home-slide__wrap edo__slide--1">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <div class="home-slide__wrap-col">
                <h1 class="home-slide__title">
                    Подключите электронный <br>
                    документооборот от 500 ₽
                </h1>
                <p class="home-slide__desc">
                    Воспользуйтесь преимуществом ЭДО от ITCOM
                </p>
                <a href="#popupp" class="btn btn-shadow fancybox"><span>Подключить ЭДО</span></a>
                <a href="#popupp" class="btn btn-white fancybox">Заказать звонок</a>
            </div>
        </div>
    </div>
</section>

<section class="list-block blocks">
    <div class="container">
        <div class="blocks__head center">
            <h2>Почему ЭДО нужен вашей компании</h2>
        </div>
        <div class="list-block__list">
            <ul>
                <li>
                    <span class="list-block__title">Удобный электронный формат обмена документами</span>
                    <p>Обменивайтесь документами внутри организации, между компаниями и физическими лицами.</p>
                </li>
                <li>
                    <span class="list-block__title">Защищённый обмен документами</span>
                    <p>Все документы в ЭДО передаются по зашифрованному каналу, они защищены от несанкционированного
                        доступа и от изменения информации</p>
                </li>
                <li>
                    <span class="list-block__title">Роуминг со всеми операторами ЭДО</span>
                    <p>Максимальное покрытие роумингом всех операторов ЭДО. Возможность бесплатной отправки документов
                        через e-mail.</p>
                </li>
                <li>
                    <span class="list-block__title">Интеграция с 1С</span>
                    <p>Оперативная интеграция с любой учетной системой</p>
                </li>
                <li>
                    <span class="list-block__title">Мобильность</span>
                    <p>Подписывайте и отправляйте документы со смартфона, планшета или компьютера</p>
                </li>
                <li>
                    <span class="list-block__title">Низкая стоимость</span>
                    <p>Чем больше документов отправляете, тем ниже стоимость. Входящие документы 0 руб, исходящие от 2,5
                        руб</p>
                </li>
                <li>
                    <span class="list-block__title">Формат редактирования</span>
                    <p>Редактируйте документы совестно с партнером в режиме онлайн</p>
                </li>
                <li>
                    <span class="list-block__title">Удаленная работа</span>
                    <p>Отсутствие необходимости дубликатов документов на бумаге</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="card-block card-block--1 blocks">
    <div class="container">
        <div class="blocks__head center">
            <h2>Какой документооборот вам необходим</h2>
        </div>
        <div class="card-block__wrap">
            <div class="card-block__wrap-col half-half">
                <a href="#" class="card-product">
                    <span class="card-product__subtitle">Документооборот</span>
                    <span class="card-product__title">
                        <b>Внутренний</b>
                    </span>
                    <ul class="card-product__desc list__desc">
                        <li>Для оптимизации бизнес процессы внутри компании</li>
                        <li>Для снижения временных затрат на согласование регламентов и договоров</li>
                        <li>Для повышения лояльности и сервиса</li>
                    </ul>
                </a>
            </div>
            <div class="card-block__wrap-col half-half">
                <a href="#" class="card-product">
                    <span class="card-product__subtitle">Документооборот</span>
                    <span class="card-product__title">
					    <b>Внешний</b>
                    </span>
                    <ul class="card-product__desc list__desc">
                        <li>Для настройки электронного обмена документами с контрагентами</li>
                        <li>Для оптимизации работ с документацией</li>
                        <li>Для сокращения финансовых затрат</li>
                    </ul>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="list-block blocks">
    <div class="container">
        <div class="blocks__head center">
            <h2>Преимущества ЭДО от ITCOM</h2>
        </div>
        <div class="list-block__list">
            <ul>
                <li>
                    <span class="list-block__title">ITCOM - лицензированный оператор ФНС</span>
                    <p>ЭДО от ITCOM входит в реестр лицензированных операторов ФНС</p>
                </li>
                <li>
                    <span class="list-block__title">Сопроовождаем на всех этапах</span>
                    <p>Поможем выбрать, купить, настроить и автоматизировать любое решение ЭДО </p>
                </li>
                <li>
                    <span class="list-block__title">Опыт внедрения до 3 000 рабочих мест</span>
                    <p>Мы располагаем колоссальным опытом внедрения от малых предприятий до крупных торговых сетей.
                        Поможем выбрать, купить, настроить и автоматизировать любое решение </p>
                </li>
                <li>
                    <span class="list-block__title">ЭДО от ITCOM - гибкое решение</span>
                    <p>Разработаем ЭДО для любой сферы бизнеса и настроим сервис под вашу специфику</p>
                </li>
            </ul>
        </div>
        <div class="list-block__text">
            <span class="list-block__title">Легкая интеграция</span>
            <ul>
                <li>
                    <p>
                        Если бизнес-процесс по созданию документов уже настроен в вашей системе, то он там и останется.
                        Мы
                        можем выполнить стыковку электронного документооборота с любой учетной системой, не затрагивая
                        работу ваших сотрудников:
                    </p>
                </li>
                <li>
                    <p>
                        ∙ Для самых популярных систем (1С, SAP, Docsvision) у нас есть готовые коннекторы, позволяющие
                        отправлять и получать документы, видеть их актуальное состояние.
                    </p>
                </li>
                <li>
                    <p>
                        ∙ Если у вас специфичная система, просто выгрузите документы в любом формализованном виде. ЭДО
                        возьмет на себя их конвертацию в форматы ФНС, подписание и отправку. Причем будет делать это
                        автоматически и незаметно для вас.
                    </p>
                </li>
                <li>
                    <p>
                        ∙ Для интеграции с крупными корпоративными системами предусмотрены инструменты API, позволяющие
                        решать прикладные задачи любой сложности. Например, встраивать работу с электронными документами
                        в
                        уже действующие корпоративные веб-порталы.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="content-default">
    <div class="blocks">
        <div class="container">
            <h3>Все для маркировки</h3>
            <div class="sert-block">
                <div class="sert-block__wrap">
                    <div class="sert-block__wrap-col">
                        <div class="sert-block__text">
                            <p>ЭДО взаимодействует со всеми системами маркировки — ЕГАИС, Честный знак, Меркурий — и
                                подходит для торговли любыми маркированными товарами.
                                Отправляйте и принимайте электронные документы на маркированные товары как обычно —
                                система ЭДО сама зарегистрирует все операции в системе маркировки.
                            </p>
                            <a href="#popupp" class="btn btn-white fancybox">Подключить</a>
                        </div>
                    </div>
                    <div class="sert-block__wrap-col">
                        <a href="#" class="sert-block__item">
                            <span class="sert-block__head">
                                <img src="../img/svg/sert-block__img--1.svg" alt="" class="sert-block__img">
                                <span class="sert-block__head-right">
                                    <span class="sert-block__filename">Честный знак</span>
                                    <span class="sert-block__title">Лекарства</span>
                                </span>
                            </span>
                        </a>
                        <a href="#" class="sert-block__item">
                            <span class="sert-block__head">
                                <img src="../img/svg/sert-block__img--2.svg" alt="" class="sert-block__img">
                                <span class="sert-block__head-right">
                                    <span class="sert-block__filename">ФГИС Меркурий</span>
                                    <span class="sert-block__title">Товары животного происхождения</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="sert-block__wrap-col">
                        <a href="#" class="sert-block__item sert-block__item--f-0">
                            <span class="sert-block__head">
                                <img src="../img/svg/sert-block__img--3.svg" alt="" class="sert-block__img">
                                <span class="sert-block__head-right">
                                    <span class="sert-block__filename">Честный знак</span>
                                    <span class="sert-block__title">Текстиль</span>
                                </span>
                            </span>
                        </a>
                        <a href="#" class="sert-block__item">
                            <span class="sert-block__head">
                                <img src="../img/svg/sert-block__img--4.svg" alt="" class="sert-block__img">
                                <span class="sert-block__head-right">
                                    <span class="sert-block__filename">ЕГАИС</span>
                                    <span class="sert-block__title">Алкогольная продукция</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="sert-block__wrap-col">
                        <a href="#" class="sert-block__item">
                            <span class="sert-block__head">
                                <img src="../img/svg/sert-block__img--5.svg" alt="" class="sert-block__img">
                                <span class="sert-block__head-right">
                                    <span class="sert-block__filename">Честный знак</span>
                                    <span class="sert-block__title">Обувь</span>
                                </span>
                            </span>
                        </a>
                        <a href="#" class="sert-block__item">
                            <span class="sert-block__head">
                                <img src="../img/svg/sert-block__img--6.svg" alt="" class="sert-block__img">
                                <span class="sert-block__head-right">
                                    <span class="sert-block__filename">Честный знак</span>
                                    <span class="sert-block__title">Сигареты и табачная продукция</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="blocks">
        <div class="container">
            <div class="feedback__container feedback__container-black"
                 style="background-image: url(../img/feedback-bg.png);">
                <div class="feedback__content">
                    <h2>Не нашли решения для бизнеса?</h2>
                    <span class="form__desc">Подберем подходящее решение и поможем с настройкой ЭДО вашей компании</span>
                    <div class="feedback__form">
                        <form action="">
                            <label for="#">
                                <input type="email" placeholder="Ваш email">
                            </label>
                            <label for="#">
                                <input type="tel" placeholder="Номер телефона">
                            </label>
                            <button type="submit" class="btn"><span>Перезвонить мне</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="card-block card-block--four blocks">
    <div class="container">
        <div class="blocks__head center">
            <h2>Выберите удобный для вас тариф</h2>
        </div>
        <div class="card-block__wrap">
            <div class="card-block__wrap-col half">
                <a href="#" class="card-product">
                    <span class="card-product__subtitle">Тариф</span>
                    <span class="card-product__title">
                        <span class="card-product__title-big"><b>50</b></span>
                        <b>документов</b>
                    </span>
                    <span class="card-product__foot">
                        <span class="card-product__foot-price">от 2 800 ₽</span>
                        <span class="card-product__foot-date">за 1 месяц работы <br> 10 ₽ за документ</span>
                    </span>
                </a>
            </div>
            <div class="card-block__wrap-col half">
                <a href="#" class="card-product">
                    <span class="card-product__subtitle">Тариф</span>
                    <span class="card-product__title">
                        <span class="card-product__title-big"><b>200</b></span>
                        <b>документов</b>
                    </span>
                    <span class="card-product__foot">
                        <span class="card-product__foot-price">от 500 ₽.</span>
                        <span class="card-product__foot-date">за 1 месяц работы <br> 10 ₽ за документ</span>
                    </span>
                </a>
            </div>
            <div class="card-block__wrap-col half">
                <a href="#" class="card-product">
                    <span class="card-product__subtitle">Тариф</span>
                    <span class="card-product__title">
                        <span class="card-product__title-big"><b>500</b></span>
                        <b>документов</b>
                    </span>
                    <span class="card-product__foot">
                        <span class="card-product__foot-price">от 3 200 ₽</span>
                        <span class="card-product__foot-date">за 1 месяц работы <br> 10 ₽ за документ</span>
                    </span>
                </a>
            </div>
            <div class="card-block__wrap-col half">
                <a href="#" class="card-product">
                    <span class="card-product__subtitle">Тариф</span>
                    <span class="card-product__title">
                        <span class="card-product__title-big"><b>1000</b></span>
                        <b>документов</b>
                    </span>
                    <span class="card-product__foot">
                        <span class="card-product__foot-price">от 5 000 ₽</span>
                        <span class="card-product__foot-date">за 1 месяц работы <br> 10 ₽ за документ</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="home-slide">
    <div class="container">
        <div class="home-slide__wrap edo__slide--2">
            <div class="home-slide__wrap-col">
                <h1 class="home-slide__title">В стоимость всех тарифов включены</h1>
                <ul>
                    <li>Доступ для неограниченного количества сотрудников</li>
                    <li>Отправка данных по системе Маркировка</li>
                    <li>Обмен документами в роуминге без доплаты</li>
                    <li>Техническая поддержка 24/7</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="card-block card-block--2 blocks">
    <div class="container">
        <div class="blocks__head">
            <h2 class="text-center">Дополнительные услуги и сервисы</h2>
        </div>
        <div class="card-block__wrap">
            <div class="card-block__wrap-col">
                <a
                        href="#"
                        class="card-product card-product-dark card-product-flag"
                >
                    <span class="card-product__subtitle">Решение</span>
                    <span class="card-product__title">
                <b>Корпоративный
                <br/>
                удостоверяющий центр</b>
              </span>
                    <span class="card-product__desc">
                Выдавайте электронную подпись сами, любому количеству
                сотрудников, прямо на рабочем месте, для любых применений.
              </span>
                    <span class="card-product__foot">
                <span class="card-product__foot-price">от 10 000 руб.</span>
                <span class="card-product__foot-date">Единовременно</span>
              </span>
                </a>
            </div>
            <div class="card-block__wrap-col">
                <a href="#" class="card-product">
                    <span class="card-product__subtitle">Решение</span>
                    <span class="card-product__title">
                <b>Электронная
                <br/>
                отчетность</b>
              </span>
                    <span class="card-product__desc">
                Помощь с инвентаризацией остатков и составлением инструкций по
                внедрению системы маркировки
              </span>
                    <span class="card-product__foot">
                <span class="card-product__foot-tarif">Стандартный</span>
                <span class="card-product__foot-price">от 3 000 руб.</span>
                <span class="card-product__foot-date">за 1 месяц работы</span>
              </span>
                </a>
            </div>
            <div class="card-block__wrap-col">
                <a href="#" class="card-product">
                    <span class="card-product__subtitle">Электронная подпись</span>
                    <span class="card-product__title">
                        <b>Для юридических лиц</b>
                    </span>
                    <span class="card-product__desc">
                        Используйте электронную подпись для личных целей на портале Госуслуг, для регистрации бизнеса или покупки имущества должников
                    </span>
                    <span class="card-product__foot">
                        <span class="card-product__foot-tarif">Тариф Базовый</span>
                        <span class="card-product__foot-price">от 1 000 ₽</span>
                        <span class="card-product__foot-date">на 12 месяцев</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="blocks feedback--edo">
    <div class="container">
        <div class="feedback__container feedback__container-black"
             style="background-image: url(../img/feedback--edo.jpg);">
            <div class="feedback__content">
                <h2>Поможем выбрать подходящий тариф для вашего бизнеса!</h2>
                <span class="form__desc">Оставьте номер телефона, мы перезвоним вам в ближайшее время</span>
                <div class="feedback__form">
                    <form action="">
                        <label for="#">
                            <input type="tel" placeholder="Номер телефона">
                        </label>
                        <button type="submit" class="btn"><span>Перезвонить мне</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@@include("../blocks/modules/footer/footer.html")
<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>
