<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>gulp-scss-starter</title>
  <meta name="theme-color" content="#fff" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles/main.css" />
</head>

<body>
  @@include("../blocks/modules/header/header.html")
  @@include("../blocks/modules/page-block/page-block.html")
  @@include("../blocks/modules/platform/platform.html")
  @@include("../blocks/modules/page-title/page-title.html")
  @@include("../blocks/modules/page-calc/page-calc.html")

  <div class="page-result">
    <p class="page-result__title">
      Электронная подпись для торгов<br>
      для физических лиц в Санкт-Петербурге
    </p>
    <div class="page-result__price">
      <span class="page-result__time"><span class="js-calc-result-month">на 12 месяцев</span> Базовый тариф</span>
      от <span class="js-final-calc-sum"></span> руб.
    </div>
    <button id="sert-btn-form" class="btn">Заказать ЭП для торгов</button>
    <p class="page-result__konsult">Затрудняетесь с выбором? <a href="">Проконсультироваться</a></p>
  </div>
  <div id="hide-form">
    @@include("../blocks/modules/page-form/page-form.html")
  </div>

  @@include("../blocks/modules/sertificate-advantages/sertificate-advantages.html")

  <section class="advant blocks">
    <div class="container">
      <div class="blocks__head">
        <h2>Преимущества работы с нами</h2>
        <a href="#" class="blocks__head-link">Подробнее</a>
      </div>
      <div class="advant__wrap advant__wrap--gray">
        <div class="advant__inner">
          <div class="advant__inner-col">
            <div class="advant-item">
              <span class="advant-item__num">9</span>
              <span class="advant-item__desc">
                лет успешной работы
                <br />
                на рынке услуг для бизнеса
              </span>
            </div>
          </div>
          <div class="advant__inner-col">
            <div class="advant-item">
              <span class="advant-item__num">76</span>
              <span class="advant-item__desc">
                филиалов
                <br />
                по всей России
              </span>
            </div>
          </div>
          <div class="advant__inner-col">
            <div class="advant-item">
              <span class="advant-item__num">2000</span>
              <span class="advant-item__desc">партнеров</span>
            </div>
          </div>
          <div class="advant__inner-col">
            <div class="advant-item">
              <span class="advant-item__num">360</span>
              <span class="advant-item__desc">
                пунктов выдачи
                <br />
                электронной подписи
              </span>
            </div>
          </div>
          <div class="advant__inner-col">
            <div class="advant-item">
              <span class="advant-item__num">673к</span>
              <span class="advant-item__desc">
                довольных клиентов
                <br />
                за 9 лет работы
              </span>
            </div>
          </div>
          <div class="advant__inner-col">
            <div class="advant-item">
              <span class="advant-item__num">248к</span>
              <span class="advant-item__desc">
                квалифицированных
                <br />
                электронных подписей в год
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  @@include("../blocks/modules/page-option/page-option.html")
  @@include("../blocks/modules/map-color/map-color.html")
  @@include("../blocks/modules/footer/footer.html")
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>