<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>gulp-scss-starter</title>
	<meta name="theme-color" content="#fff" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="styles/main.css" />
</head>

<body>
	@@include("../blocks/modules/header/header.html")

	<section class="home-slide">
		<div class="container">
			<div class="home-slide__wrap" style="background-image: url(../img/sert.png);">
				@@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
				<div class="home-slide__wrap-col">
					<h1 class="home-slide__title mb-0">Сертификаты и лицензии</h1>
				</div>
			</div>
		</div>
		<div class="content-default">
			<div class="blocks">
				<div class="container">
					<h2>Подтверждающие документы</h2>
					<div class="sert-block">
						<div class="sert-block__wrap">
							<div class="sert-block__wrap-col">
								<div class="sert-block__text">
									<h3>Удостоверяющий центр ITCOM</h3>
									<p>Включен Министерством связи и массовых коммуникаций РФ в Единый Государственный Реестр
										сертификатов ключей подписей уполномоченных лиц удостоверяющих центров. Работает на
										основании действующей лицензии ФСБ России в рамках закона об электронной подписи.С 2018
										года получил статус доверенного УЦ Федеральной службы государственной статистики.</p>
								</div>
								<a href="#" class="sert-block__item">
									<span class="sert-block__head">
										<img src="../img/svg/file-pdf.svg" alt="" class="sert-block__img">
										<span class="sert-block__head-right">
											<span class="sert-block__filename">Лицензия</span>
											<span class="sert-block__titlemin">Оказание телематических услуг</span>
										</span>
									</span>
								</a>
							</div>
							<div class="sert-block__wrap-col">
								<a href="#" class="sert-block__item">
									<span class="sert-block__head">
										<img src="../img/svg/file-pdf.svg" alt="" class="sert-block__img">
										<span class="sert-block__head-right">
											<span class="sert-block__filename">Регламент</span>
											<span class="sert-block__title">ООО «ИТК»</span>
										</span>
									</span>
								</a>
								<a href="#" class="sert-block__item">
									<span class="sert-block__head">
										<img src="../img/svg/file-pdf.svg" alt="" class="sert-block__img">
										<span class="sert-block__head-right">
											<span class="sert-block__filename">Регламент</span>
											<span class="sert-block__title">ООО «Айтиком»</span>
										</span>
									</span>
								</a>
								<a href="#" class="sert-block__item">
									<span class="sert-block__head">
										<img src="../img/svg/file-pdf.svg" alt="" class="sert-block__img">
										<span class="sert-block__head-right">
											<span class="sert-block__filename">Свидетельство</span>
											<span class="sert-block__titlemin">Аккредитация на право проведения экспертизы</span>
										</span>
									</span>
								</a>
							</div>
							<div class="sert-block__wrap-col">
								<a href="#" class="sert-block__item">
									<span class="sert-block__head">
										<img src="../img/svg/file-pdf.svg" alt="" class="sert-block__img">
										<span class="sert-block__head-right">
											<span class="sert-block__filename">Лицензия</span>
											<span class="sert-block__title">ФСБ</span>
										</span>
									</span>
									<span class="sert-block__desc">• Для работы со средствами<br> крипто-графической защиты
										информации</span>
								</a>
								<a href="#" class="sert-block__item">
									<span class="sert-block__head">
										<img src="../img/svg/file-pdf.svg" alt="" class="sert-block__img">
										<span class="sert-block__head-right">
											<span class="sert-block__filename">Кросс-сертификат</span>
											<span class="sert-block__title">УЦ ФСС РФ</span>
										</span>
									</span>
									<span class="sert-block__desc">• Сертификат действителен<br> с 09.08.2018 до 09.08.203<br>
										Посмотреть можно на сайте ФСС</span>
								</a>
							</div>
							<div class="sert-block__wrap-col">
								<a href="#" class="sert-block__item">
									<span class="sert-block__head">
										<img src="../img/svg/file-pdf.svg" alt="" class="sert-block__img">
										<span class="sert-block__head-right">
											<span class="sert-block__filename">Лицензия</span>
											<span class="sert-block__title">ФСТЭК</span>
										</span>
									</span>
									<span class="sert-block__desc">• Для деятельности по технической защите конфиденциальной
										информации</span>
								</a>
								<a href="#" class="sert-block__item">
									<span class="sert-block__head">
										<img src="../img/svg/file-pdf.svg" alt="" class="sert-block__img">
										<span class="sert-block__head-right">
											<span class="sert-block__filename">Свидетельство</span>
											<span class="sert-block__title">Минкомсвязь</span>
										</span>
									</span>
									<span class="sert-block__desc">• По 63-ФЗ об Электронной подписи</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<section class="blocks">
				<div class="container">
					<div class="feedback__container feedback__container-black"
						style="background-image: url(../img/feedback-bg.png);">
						<div class="feedback__content">
							<h2>Необходимы оригиналы документов?</h2>
							<span class="form__desc">Отправим оригиналы документов на электронную почту, оставьте свои контакты
								мы перезвоним</span>
							<div class="feedback__form">
								<form action="">
									<label for="#">
										<input type="email" placeholder="Ваш email">
									</label>
									<label for="#">
										<input type="tel" placeholder="Номер телефона">
									</label>
									<button type="submit" class="btn"><span>Перезвонить мне</span></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>

	@@include("../blocks/modules/footer-menu/menu.html")

	@@include("../blocks/modules/footer/footer.html")
	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>