<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>gulp-scss-starter</title>
	<meta name="theme-color" content="#fff" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="styles/main.css" />
</head>

<body>
	@@include("../blocks/modules/header/header.html")

	<section class="home-slide">
		<div class="container">
			<div class="home-slide__wrap home-general no-bg" style="background: #FFEFC6;">
				<div class="breadcrumbs bigcrumbs">
					<naw>
						<ul>
							<li><a href="/">Главная</a></li>
							<li><a href="#">О компании</a></li>
							<li><span>Партнерская програма ITCOM</span></li>
						</ul>
					</naw>
				</div>
				<div class="home-slide__wrap-col big-col">
					<h1 class="home-slide__title">Начните зарабатывать уже сегодня</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="card-block blocks">
		<div class="container">
			<div class="blocks__head center">
				<h2>Получайте прибыль с нашими продуктами</h2>
			</div>
			<div class="card-block__wrap traid-wrap">
				<div class="card-block__wrap-col">
					<a href="#" class="card-product">
						<span class="card-product__title">
							<b>Электронные подписи</b>
						</span>
						<span class="card-product__desc">
							Используйте электронную подпись для личных целей на портале Госуслуг, для регистрации бизнеса или
							покупки имущества должников
						</span>
					</a>
				</div>
				<div class="card-block__wrap-col fix-col">
					<a href="#" class="card-product">
						<span class="card-product__title">
							<b>Электронный документооборот</b>
						</span>
						<span class="card-product__desc">
							Применение решений для внутреннего и внешнего документооборота с использованием электронной подписи
						</span>
					</a>
				</div>
				<div class="card-block__wrap-col">
					<a href="#" class="card-product">
						<span class="card-product__title">
							<b>Электронная отчетность</b>
						</span>
						<span class="card-product__desc">
							Помощь с инвентаризацией остатков и составлением инструкций по внедрению системы маркировки
						</span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="card-block blocks">
		<div class="container">
			<div class="blocks__head center">
				<h2>Сотрудничество на выгодных для Вас условиях</h2>
			</div>
			<div class="card-block__wrap">
				<div class="card-block__wrap-col">
					<span class="card-product">
						<span class="card-product__title">
							Как агент
						</span>
						<span class="card-product__big-desc">
							Предлагайте наши услуги и получайте агентское вознаграждение
						</span>
						<span class="card-product__desc">
							<ul>
								<li>Не требует дополнительных вложений</li>
								<li>Сами выставляем счёт и готовим документы</li>
								<li>Гарантированное вознаграждение до 50% с каждой сделки</li>
								<li>Клиент остаётся за вами: зарабатывайте на продлении продуктов и услуг</li>
								<li>Помощь персонального менеджера и информационная поддержка</li>
							</ul>
						</span>
					</span>
				</div>
				<div class="card-block__wrap-col">
					<a href="/report.html" class="card-product">
						<span class="card-product__title">
							Как бизнес-партнер
						</span>
						<span class="card-product__big-desc">
							Выстраивайте бизнес на продаже продуктов и услуг УЦ ITCOM
						</span>
						<span class="card-product__desc">
							<ul>
								<li>Расширение клиентской базы</li>
								<li>Сотрудничество по пост- или предоплате</li>
								<li>Низкие цены для партнёров</li>
								<li>Возможность устанавливать итоговую цену для клиентов самостоятельно</li>
								<li>Продажа основных и дополнительных услуг «одним окном»</li>
							</ul>
						</span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="sertificate-advantages blocks">
		<div class="container">
			<div class="blocks__head center">
				<h2>В стоимость выпуска сертификата уже включено</h2>
			</div>
			<ul class="list-1">
				<li class="list-1__item traid-item">
					<img src="../img/svg/puzzle.svg" alt="">
					<span class="list-1__title">Техническая поддержка для Вас и Ваших клиентов</span>
				</li>
				<li class="list-1__item traid-item">
					<img src="../img/svg/manager.svg" alt="">
					<span class="list-1__title">Интеграция фрейма для клиентов на Вашем сайте</span>
				</li>
				<li class="list-1__item traid-item">
					<img src="../img/svg/Autism.svg" alt="">
					<span class="list-1__title">Бесплатное обучение по продуктам и работе в партнерском сервисе</span>
				</li>
				<li class="list-1__item traid-item">
					<img src="../img/svg/grouth.svg" alt="">
					<span class="list-1__title">Высокий процент партнерского вознаграждения</span>
				</li>
				<li class="list-1__item traid-item">
					<img src="../img/svg/mashene.svg" alt="">
					<span class="list-1__title">Работа с надежным удостоверяющим центром по всей России</span>
				</li>
				<li class="list-1__item traid-item">
					<img src="../img/svg/usb.svg" alt="">
					<span class="list-1__title">Более 50 видов востребованных продуктов для продажи</span>
				</li>
			</ul>
		</div>
		<!-- /.container -->
	</section>

	<section class="feedback blocks">
		<div class="container">
			<div class="feedback__container no-bg">
				<div class="feedback__content">
					<h2>Вознаграждение до 80% от сделки</h2>
					<span class="form__desc">Узнайте о специальных условиях для вашей компании<br>
						у специалиста удостоверяющего центра</span>
					<div class="feedback__form">
						<form action="">
							<label for="#">
								<input type="tel" placeholder="Номер телефона">
							</label>
							<label for="#">
								<input type="email" placeholder="E-mail">
							</label>
							<button type="submit" class="btn btn-shadow"><span>Запросить цены</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="partner blocks">
		<div class="container">
			<div class="block__head center">
				<h2>Как стать партнёром УЦ ITCOM</h2>
			</div>
			<div class="partner__list">
				<ol>
					<li>Оставьте заявку, чтобы узнать цены для партнёра</li>
					<li>Заключите договор сотрудничества</li>
					<li>Получайте прибыль за каждую совершённую сделку</li>
					<li>Вы стали полноценным агентом или бизнес-партнером УЦ ITCOM</li>
				</ol>
			</div>
		</div>
	</section>

	<section class="feedback blocks">
		<div class="container">
			<div class="feedback__container traid-bg"
				style="background: url('../img/form-bg.jpg') no-repeat center; background-size: cover;">
				<div class="feedback__content">
					<div class="blocks__head center">
						<h2>Вопросы по партнерской программе?</h2>
					</div>
					<span class="form__desc">Оставьте заявку, и менеджер свяжется с Вами в удобное для вас время</span>
					<div class="feedback__form">
						<form action="">
							<label for="#">
								<input type="tel" placeholder="Номер телефона">
							</label>
							<label for="#">
								<input type="email" placeholder="E-mail">
							</label>
							<button type="submit" class="btn btn-shadow"><span>Перезвонить мне</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	@@include("../blocks/modules/footer/footer.html")
	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>