$page-checkbox: "page-checkbox";

.#{page-checkbox} {
    color: $text;
    padding-top: 50px;
	
    &__row {
        @include row-flex;
        border-bottom: 1px solid $gray-light;
        padding-bottom: 50px;
    }

    &__title {
        @include col();
        @include size(3);
        font-size: 24px;
        line-height: 28px;
    }

    &__content {
        @include col();
        @include size(9);
    }
}

.checkboxList {

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
		
        &-text {
            @include size(8);
            color: $gray-dark;
            display: block;
            font-size: 14px;
            line-height: 22px;
            padding-left: 40px;
        }
    }

    &__input {
        display: none;

        &:checked {

            + .checkboxList__label {
                color: $accent;

                &:after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    top: 6px;
                    left: 4px;
                    width: 16px;
                    height: 6px;
                    transform: rotate(-45deg);
                    border-bottom: 2px solid $accent;
                    border-left: 2px solid $accent;
                }
            }
        }
    }

    &__label {
        cursor: pointer;
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        line-height: 28px;
        padding-left: 40px;
        position: relative;
        width: 100%;

        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            left: 0;
            width: 24px;
            height: 24px;
            border: 1px solid $gray-light;
            background: #fff;
            border-radius: 4px;
        }
		
        > span {
            display: flex;
            align-items: center;
        }
    }
	
    &--descript {
		
        .checkboxList__item:nth-child(odd) {
            margin-bottom: 0;
        }
    }
}

.hint {
    border-radius: 50%;
    display: inline-block;
	
    svg {
        display: block;
        width: 18px;
        height: 18px;
        transition: fill .3s ease;
        fill: $gray-dark;
    }
	
    &:hover {
		
        svg {
            fill: $accent;
        }
    }
}

.checkboxList__item--hint {
    margin-left: 10px;
}

.checkboxList__select {
    margin-left: 10px;
}

.select {
    min-width: 149px;
    border: 1px solid $gray-light;
    padding: 5px 15px 5px 5px;
    appearance: none;
    background: #fff url(../img/svg/arrow-bottom.svg) no-repeat right 8px center;
    border-radius: 4px;
    color: $text;
    font-size: 14px;
    outline: none;
}