$cfx: "list-block";

.#{$cfx} {
	&__list, &__text {
		ul {
			@include row-flex();
			justify-content: space-between;
			li {
				list-style: none;
				@include col();
				@include size(5.5);
				@include size-md(12);
				p {
					font-size: 14px;
					line-height: 22px;
					color: $gray;
					margin-top: 0.3em;
				}
			}
		}
	}
	&__list + &__text {
		margin-top: 1.2em;
	}
	&__title {
		font-weight: bold;
		font-size: 24px;
		color: $text;
		line-height: 1.3;
	}
}
