.breadcrumbs {
    position: absolute;
    top: 38px;
    left: 75px;

    @media (max-width: 48rem) {
        top: 5px;
        left: auto;
    }
    ul {
        display: flex;
        margin: 0 -6px;
        flex-wrap: wrap;

        li {
            position: relative;
            margin: 0 6px;
            list-style: none;
            &:first-child {
                &:before {
                    content: "";
                }
            }
            &:before {
                content: ">";
                position: absolute;
                top: 4px;
                left: -8px;
                font-size: 12px;
            }
            a, span {
                color: #333333;
                font-size: 12px;
            }
        }
    }
}
