.jq-selectbox {
    
    &.opened {
        .jq-selectbox__trigger {
            transform: translateY(-50%) rotate(-180deg);
        }
    }
}
.jq-selectbox__trigger {
    position: absolute;
    right: 24px;
    top: 50%;
    transition: transform .3s;
    transform: translateY(-50%);
   
    
    &-arrow {
        background: url(../img/svg/select.svg) no-repeat;
        height: 6px;
        width: 10px;
    }
}

.jq-selectbox__dropdown {
    background: #fff;
    border-radius: 12px;
    border: 1px solid $gray-light;
    margin-top: -1px;
    width: calc(100% - 2px);
}

.jq-selectbox__select-text {
    border: 1px solid $gray-light;
    border-radius: 12px;
    cursor: pointer;
    padding: 14px 0 14px 24px;
}

.jq-selectbox li, .jq-select-multiple li {
    border-bottom: 1px solid $gray-light;
    cursor: pointer;
    padding: 10px 24px;
    transition: color .3s;
    
    &:last-child {
        border-bottom: none;
    }
    
    &:hover {
        color: $accent;
    }
}

.select--small {
    line-height: 1;
    width: 149px;
    
    .jq-selectbox__select-text {
        border-radius: 4px;
        color: $text;
        font-size: 14px;
        padding: 5px 0 5px 8px;
    }
    
    .jq-selectbox__trigger {
        right: 8px;
    }
    
    &.jq-selectbox li, &.jq-select-multiple li {
        font-size: 14px;
        padding: 5px 10px;
    }
    .jq-selectbox__dropdown {
        border-radius: 4px;
    }
}