body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

.container {
    @include container();
    @include sm(max-width, rem(480));
    @include md(max-width, rem(510));
    @include lg(max-width, rem(690));
    @include xl(max-width, rem(930));
}

.row {
    @include row-flex();
}

.green-color {
    color: $accent;
}

.btn {
    display: inline-block;
    background: $accent;
    color: white;
    padding: 15px 25px;
	 border-radius: 12px;
	 transition: all 0.3s ease;
	 	span {
			transform: translateY(-1px);
			display: block;
			transition: all 0.3s ease;
		 }
	 &.btn-white {
		 background: white;
		 color: $accent;
		 border: 1px solid $accent;
		 margin-left: 16px;
	 }
	 &.btn-shadow {
		box-shadow: 0px 10px 20px rgba(13, 177, 75, 0.4);
	 }
	 &:hover {
		&:not(.btn-white) {
			background: #009f3c;
			box-shadow: 0 0 0 0 rgba(13, 177, 76, 0.3);
		}
		span {
			transform: translateY(0px);
		}
	 }
}

.blocks {
    margin: 50px 0;

    h2 {
        color: $gray;
        margin-bottom: 55px;
        @include lg(margin-bottom, 20px);
        font-weight: 300;
        font-size: 40px;
        @include lg(font-size, 26px);
        @include lg(width, 100%);
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
		  @include lg(flex-wrap, wrap);
		  &.center {
			  justify-content: center;
		  }

        &-link {
            margin-bottom: 55px;
            height: 46px;
            line-height: 46px;
            padding: 0 25px;
            border: 1px solid $gray-light;
            border-radius: 100px;
            color: $accent;
            background: white;

            &:hover {
                background: #f5f5f5;
            }
        }
    }
}

.map-block {
    &__img {
        margin-top: -200px;
        z-index: -1;
        position: relative;
    }
}
